.product-info,
.product-info2,
.product-info3,
.product-info4 {
  position: relative;
  border-radius: 20px;
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
  overflow: hidden;
}

.allCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 1.50vw;
  margin-left: 19vw;
}

.product-info,
.product-info4 {
  width: 35.94vw;
  height: 18.30vw;
}

.product-info2,
.product-info3 {
  width: 25.78vw;
  background-color: #1e1e38;
  height: 18.30vw;
}

.service-details {
  padding: 0.30vw;
  width: 11vw;
  margin-top: 0.25vw;
}

.product-info:hover,
.product-info2:hover,
.product-info3:hover,
.product-info4:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.product-info {
  background-color: #6058F7;
}


.product-info4 {
  background-color: #4f46fb;
  position: relative;
  right: 10vw;
  z-index: 10;
}

.card-logo {
  margin-bottom: 1vw;
}

.product-info span,
.product-info2 span,
.product-info3 span,
.product-info4 span {
  font-weight: 200;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 1.1vw;
}


.product-heading {
  font-size: 1.42vw;
  font-weight: 100;
}

.info-para {
  font-size: 0.92vw;
  font-weight: 200;
  line-height: 1.5;
  margin-top: 1vw;
  width: 14vw;
}

.web-img,
.web-img2,
.web-img4 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.web-img img {
  width: 19vw;
  height: 17vw;
}

.web-img2 img {
  width: 8vw;
  height: 16vw;
}

.web-img3 {
  position: relative;
  left: 12.5vw;
  top: -15vw;
}

.web-img4 img {
  width: 10vw;
  height: 16.4vw;
}

/* Laptop screen size media queries */

@media (max-width: 1366px) {
  .card-logo {
    width: 45px;
    padding-top: 15px;
  }

  .service-details {
    margin-top: -1.95vw;
    padding: 0;
  }

  .product-heading {
    font-size: 1.48vw;
    font-weight: 600;
  }

  .info-para {
    font-size: 1.2vw;
    width: 17vw;
  }

  .product-info2,
  .product-info3 {
    width: 28.78vw;
  }

  .product-info4 {
    right: 7vw;
  }

  .web-img img {
    width: 16vw;
  }

  .web-img2 img {
    width: 10vw;
    height: 17vw;
  }

  .web-img3 {
    left: 13.5vw;
    top: -17vw;
  }

  .web-img3 img {
    width: 14vw;
  }

}

/* Tablet screen size media quereis */

@media (max-width: 768px) {
  .allCards {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5vw;
    margin-left: 17vw;
  }

  .product-info,
  .product-info2,
  .product-info3,
  .product-info4 {
    width: 60vw;
    height: 34vw;
  }

  .product-info4 {
    right: 0vw;
  }

  .product-info span,
  .product-info2 span,
  .product-info3 span,
  .product-info4 span {
    margin-top: 1.1vw;
  }

  .service-details {
    width: 15vw;
  }

  .product-heading {
    font-size: 3vw;
  }

  .info-para {
    font-size: 2.2vw;
    width: 32vw;
  }

  .web-img img {
    width: 26vw;
    height: 30vw;
  }

  .web-img2 img {
    width: 18vw;
    height: 31vw;
  }

  .web-img3 {
    left: 31.5vw;
    top: -26vw;
  }

  .web-img3 img {
    width: 26vw;
  }

  .web-img4 img {
    width: 21vw;
    height: 31.4vw;
  }
}

/* Mobile screen szie media queries */

@media (max-width: 480px) {

  .product-info,
  .product-info2,
  .product-info3,
  .product-info4 {
    width: 379px;
    height: 206px;
  }

  .allCards {
    margin-left: 11.5vw;
  }

  .card-logo {
    width: 35px;
    padding-top: 0px;
  }

  .service-details {
    width: 80px;
  }

  .product-heading {
    font-size: 1rem;
  }

  .info-para {
    font-size: 0.80rem;
    width: 170px;
  }

  .product-info span,
  .product-info2 span,
  .product-info3 span,
  .product-info4 span {
    margin-top: 3.1vw;
    font-size: 0.80rem;
    width: 88px;
  }
  .web-img img {
    width: 35vw;
    height: 39vw;
  }
  .web-img2 img {
    width: 22vw;
    height: 40vw;
  }
  .web-img3 {
    left: 42.5vw;
    top: -35vw;
  }
  .web-img3 img {
    width: 32vw;
  }
  .web-img4 img {
    width: 22vw;
    height: 38.4vw;
  }
}