.product-container {
  background: radial-gradient(circle at  12% 5%, #4b0082 0%, transparent 15%),
     radial-gradient(circle at  12% 28%, #4b0082 0%, transparent 15%),
     radial-gradient(circle at  90% 19%, #4b0082 0%, transparent 15%),
     radial-gradient(circle at  15% 48%, #4b0082 0%, transparent 15%),
     radial-gradient(circle at  86% 62%, #4b0082 0%, transparent 15%),
     radial-gradient(circle at  15% 77%, #4b0082 0%, transparent 11%),
     radial-gradient(circle at  86% 78%, #4b0082 0%, transparent 15%),
     radial-gradient(circle at  15% 91%, #4b0082 0%, transparent 10%),
     radial-gradient(circle at  86% 95%, #4b0082 0%, transparent 9%),
    #000000;
  overflow: hidden;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.line {
  position: relative;
  bottom: 11vw;
  width: 66.72vw;
  align-items: flex-start;
  height: 37.97vw;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  bottom: 36vw;
  row-gap: 1.56vw;
}

.know-btn {
  margin-top: -50vw;
  margin-left: 77vw;
  padding-bottom: 50vw;
  font-weight: 100;
}

.getStarted-Btn {
  margin-top: -37vw;
  padding-bottom: 38vw;
  display: flex;
  justify-content: end;
  margin-right: 21vw;
}

.product-h1,
.product-h2 {
  background: linear-gradient(to right, #A5A6FF, #ffffff);
  font-weight: 500;
  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  font-size: 3.33vw;
}

.h1-para {
  width: 58vw;
  margin-left: 19vw;
  padding: 1vw 1vw;
  position: relative;
  top: 36px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.h2-para {
  margin-left: 19vw;
  padding: 1vw;
  margin-top: -35vw;
  margin-bottom: 32vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.product-para {
  font-size: 1.17vw;
  color: #ffffff;
  font-weight: 300;
  width: 34vw;
}

.line1 {
  position: relative;
  bottom: 99vw;
  width: 100vw;
  border: none;
  height: 1px;
  background-color: #1A1A1A;
}

.line2 {
  position: relative;
  bottom: 94vw;
  width: 100vw;
  border: none;
  height: 1px;
  background-color: #1A1A1A;
}

.h3-para {
  display: flex;
  flex-direction: column;
  gap: 27px;
  position: relative;
  margin-left: 21vw;
  margin-top: -97vw;
  padding-bottom: 95vw;
}

.product-h3 {
  font-size: 3.33vw;
  font-weight: 500;
  background: linear-gradient(to right, #9795FF, #ffffff, #ffffff, #BE9FFF);
  background-clip: border-box;
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.knowBtn-container {
  margin-left: 76vw;
  margin-top: -101vw;
  padding-bottom: 101vw;
}

.product-footer {
  margin-top: -92vw;
}

/* Laptop screen size media queries */

@media (max-width: 1366px) {
  .h1-para {
    width: 71vw;
    margin-left: 17vw;
  }

  .product-para {
    font-size: 1.3rem;
    width: 45vw;
  }
}

/* Tablet screen size media queries */

@media (max-width: 768px) {
  .h1-para {
    gap: 30px;
  }

  .product-h1 {
    font-size: 4vw;
  }

  .product-h2 {
    font-size: 4vw;
  }

  .product-para {
    font-size: 1.1rem;
    width: 54vw;
  }

  .h2-para {
    margin-left: 17vw;
    margin-top: -39vw;
    padding-bottom: 5vw;
  }

  .h3-para{
    margin-left: 6vw;
    margin-top: -95vw;
    padding-bottom: 95vw;
  }

  .line {
    bottom: 12vw;
    height: 46.97vw;
    width: 75vw;
    margin-left: 3vw;
  }

  .know-btn {
    margin-left: 75vw;
    margin-top: -63vw;
    padding-bottom: 64vw;
  }

  .services-cards {
    bottom: 44vw;
  }

  .getStarted-Btn {
    margin-right: 15vw;
    margin-top: -45vw;
    padding-bottom: 46vw;
  }
  .knowBtn-container {
    margin-left: 65vw;
    margin-top: -109vw;
    padding-bottom: 108vw;
  }
}

/* Mobile screen size media queries */

@media (max-width: 480px) {
  .h1-para {
    width: 85vw;
    margin-left: 8vw;
    gap: 15px;
  }

  .product-h1,
  .product-h2 {
    font-size: 1.5rem;
    width: 83vw;
  }

  .product-para {
    font-size: 1rem;
    width: 81vw;
  }

  .line {
    height: 40vh;
    margin-left: 1vw;
    width: 87vw;
    margin-top: -4vw;
  }

  .h2-para {
    margin-left: 9vw;
    margin-top: -61vw;
    padding-bottom: 28vw;
    gap: 15px;
  }

  .know-btn {
    margin-top: -91vw;
    padding-bottom: 88vw;
    margin-left: 69vw;
  }

  .getStarted-Btn {
    margin-right: 10vw;
    margin-top: -61vw;
    padding-bottom: 66vw;
  }

  .services-cards {
    bottom: 63vw;
  }

  .web-img img {
    width: 168px;
    height: 188px;
  }

  .web-img2 img {
    width: 115px;
    height: 192px;
  }

  .web-img img {
    left: 43.5vw;
    top: -34vw;
  }

  .web-img3 img {
    width: 146px;
  }

  .web-img4 img {
    width: 182px;
  }
  .line1,
  .line2{
    background-color: #614a4a;
  }
  .knowBtn-container{
    margin-top: -113vw;
    padding-bottom: 113vw;
  }
  .product-h3{
    font-size: 1.5rem;
  }
}