
.social-icons {
  display: flex;
  gap: 25px;
  align-items: center;
  margin: 0 1vw;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

/* Mobile screen size media queries */

@media (max-width: 480px) {
  .social-icons{
    padding-top: 20px;
  }
}